* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $my_font_family;
    font-size: 14px;
    color: $texts_color;
}

body button {
    font-family: $my_font_family;
    cursor: pointer;
    outline: none;
    &:hover {
        background-color: $button_hover_background;
    }
}

.little_container {
    width: 80%;
}

.main_container {
    width: 100%;
    justify-content: center;
}

.flexed {
    display: flex;
}