* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $my_font_family;
    font-size: 14px;
    color: $texts_color;
}

.little_container {
    width: 80%;
}

.main_container {
    width: 100%;
    @include my-flexed-main-container;
}

.flexed {
    display: flex;
}

.margin_block {
    float: right;
    clear: right;
}