/* Inizio prima sezione generale del main */

.my_main {
    background-color: $pink_body_background;
    margin-top: 15px;
    height: fit-content;
}

#first_pink_section,
#second_pink_section {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 50px;
    color: white;
    h2 {
        margin-bottom: 50px;
    }
}

#first_pink_section {
    border-bottom: 1px solid rgb(214, 172, 172);
}

.allblocks_container {
    margin-bottom: 100px;
}

.block {
    width: calc(100%/3);
    align-self: center;
    img {
        width: 35%;
        object-fit: cover;
        background-color: rgba(0, 0, 0, 0.705);
        border-radius: 30px;
        padding: 5px;
        border: 1px solid white;
    }
    .first_img {
        width: 41.8%;
    }
    .notsafe_img {
        object-fit: cover;
        width: 28%;
        margin-top: 5px;
        height: 85%;
    }
    .first_second_img {
        width: 40%;
        margin-top: 11px;
    }
    .safe_img {
        width: 16%;
    }
    .margin_img {
        margin-top: 6px;
    }
    p {
        margin-top: 20px;
    }
}

.singolar {
    width: 30%;
}

#second_pink_section h2:last-child {
    margin-bottom: 0;
    margin-top: 100px;
}


/* Fine prima sezione generale del main */


/* Inizio seconda sezione generale del corpo della pagina */

.container {
    @include separe-sections;
    width: 100%;
}

.second_block {
    color: $texts_color;
    width: 100%;
    margin-bottom: 50px;
    .principal_img {
        width: 50%;
        height: 47%;
    }
    .text_container {
        width: 24%;
        line-height: 30px;
        flex-direction: column;
        h2 {
            font-size: 1.6em;
            margin-bottom: 50px;
        }
        p {
            font-size: 1.2em;
            margin-bottom: 20px;
        }
        a {
            font-size: 1.2em;
            text-decoration: none;
            color: rgb(13, 180, 88);
            margin-bottom: 20px;
        }
        p,
        a {
            font-weight: $my_font_weight;
        }
        img {
            width: 100%;
        }
    }
}


/* Fine seconda sezione generale del corpo della pagina */


/* Inizio terza sezione generale del corpo della pagina */

.getstarted_container {
    background-color: $pink_body_background;
}

.getstarted_section {
    @include separe-sections;
    flex-direction: column;
    align-items: center;
    color: white;
    position: relative;
    h1 {
        font-size: 2.5em;
        line-height: $big_line_height;
        margin-bottom: 50px;
        text-align: center;
    }
    .quote {
        position: absolute;
        top: 31.1%;
        left: 27.55%;
        color: white;
        font-size: 2em;
    }
    .getstarted_buttons {
        margin-top: 30px;
        button {
            @include my-button;
            margin-right: 5px;
            margin-left: 5px;
        }
        button img {
            @include button-images;
        }
        p {
            text-align: center;
            margin-top: 20px;
        }
    }
}

.getstarted_text {
    width: 45%;
    background-color: $violet_palette_color;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    p {
        margin-bottom: 10px;
        font-weight: 400;
    }
    img {
        width: 8%;
        margin-right: 20px;
    }
    .founders {
        margin: 0;
    }
    span {
        font-size: 0.8em;
        color: lightgrey;
    }
    .founders_info {
        margin-top: 9.5px;
    }
}


/* Fine terza sezione generale del corpo della pagina */